<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HUFS Mail</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HUFS Mail <sup>ICE</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/mail/}">
                <i class="fas fa-fw fa-envelope"></i>
                <span>전체 메일</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            카테고리
        </div>

        <!-- Nav Item - 광고 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/mail/ad}">
                <i class="fas fa-fw fa-bullhorn"></i>
                <span>광고</span></a>
        </li>

        <!-- Nav Item - 구매 및 주문내역 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/mail/payment}">
                <i class="fas fa-fw fa-cart-plus"></i>
                <span>구매 및 주문내역</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/mail/login}">
                <i class="fas fa-fw fa-address-book"></i>
                <span>로그인 및 인증내역</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/mail/edu}">
                <i class="fas fa-fw fa-graduation-cap"></i>
                <span>교육</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <p class="text-center mb-2"><strong>Email Category Prediction</strong></p>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="메일 제목을 키워드를 입력하세요."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">받은메일함</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            받은 메일 개수
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <span th:text="${totalCount} + ' 통'"></span>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            광고 메일 비율
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">65%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                         style="width: 50%" aria-valuenow="65" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">

                    <!-- Area Mail Table -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">전체 메일</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>보낸 주소</th>
                                            <th>발송 날짜</th>
                                            <th>메일 제목</th>
                                            <th>메일 유형</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="mail: ${mails}">
                                            <td th:text="${mail.mailIdx}">#</td>
                                            <td th:text="${mail.sender}">보낸 사람</td>
                                            <td th:text="${mail.sendDateTime}">발송 날짜</td>
                                            <td th:text="${mail.title}">메일 제목</td>
                                            <td th:text="${mail.category}">메일 유형</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div th:if="${!boards.isEmpty()}">
                                        <nav th:with="
                                                pageNumber = ${boards.pageable.pageNumber},
                                                pageSize = ${boards.pageable.pageSize},
                                                totalPages = ${boards.totalPages},
                                                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                                                tempEndPage = ${startPage + pageSize - 1},
                                                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
                                                aria-label="Page navigation">
                                            <ul class="pagination ">

                                                <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'"
                                                    class="page-item">
                                                    <a class="page-link" th:href="@{/mail(page=1)}">
                                                        <span>&laquo;</span>
                                                        <span class="sr-only">First</span>
                                                    </a>
                                                </li>

                                                <li th:classappend="${boards.first} ? 'disabled'" class="page-item">
                                                    <a class="page-link"
                                                       th:href="${boards.first} ? '#' : @{/mail(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}"
                                                       aria-label="Previous">
                                                        <!-- 개인적으로 int 로 변환하는 법을 몰라서 이렇게 길어졌습니다 -->
                                                        <span aria-hidden="true">&lt;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                                    th:classappend="${page == pageNumber + 1} ?  'active'"
                                                    class="page-item">
                                                    <a th:text="${page}" class="page-link"
                                                       th:href="@{/mail(page=${page}-1)}"></a>
                                                </li>

                                                <li th:classappend="${boards.last} ? 'disabled'" class="page-item">
                                                    <a class="page-link"
                                                       th:href="${boards.last} ? '#' : @{/mail(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&gt;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>

                                                <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'"
                                                    class="page-item">
                                                    <a class="page-link" th:href="@{/mail(page=${totalPages})}">
                                                        <span>&raquo;</span>
                                                        <span class="sr-only">First</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">메일 수신 통계</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">메일 카테고리 통계</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> 구매
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> 로그인
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> 교육
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> 광고
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; HUFS ICE 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="layout/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>